<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - KEVSCAN</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="../static/js/header.js" defer></script>
    <script src="../static/js/dashboard.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <img src="../static/img/logokevscan.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="Dashboard.html">Dashboard</a></li>
                <li><a href="Department.html">Department</a></li>
                <li><a href="Shift.html">Shift</a></li>
                <li><a href="Stats.html">Stats</a></li>
            </ul>
        </nav>
        <div class="user-avatar">
            <img src="../static/img/avt.jpg" alt="User Avatar">
            <div class="user-menu" id="user-menu">
              <ul>
                 
                  <li id="logout">Log out</li>
              </ul>
          </div>
        </div>
    </div>
    <div class="container">
      <!-- Box điều chỉnh thời gian -->
      <div class="time-box">
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" max="">
        <input type="text" id="search-user" placeholder="Enter User ID">
        <button id="btn-filter">Filter</button>
    </div>
    
  
      <!-- Hàng chứa các phần Name, Department, Login Time, Status -->
      <div class="info-row header-row">
          <div class="info-item">ID</div>
          <div class="info-item">Name</div>
          <div class="info-item">Shift</div>
          <div class="info-item">Login Time</div>
          <div class="info-item">Logout Time</div>
          <div class="info-item">Status</div>
      </div>
     <div id="attendance-list"></div>
  </div>
</body>
</html>