<div class="header-container">
    <div class="header">
        <img src="../static/img/logo.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="Dashboard.html">Dashboard</a></li>
                <li><a href="#">Department</a></li>
                <li><a href="#">Salary</a></li>
            </ul>
        </nav>
        <div class="user-avatar">
            <img src="../static/img/user-avatar.png" alt="User Avatar">
        </div>
    </div>
</div>