<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department - KEVFB</title>
    <link rel="stylesheet" href="../static/css/salary.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="../static/js/header.js" defer></script>
    <script src="../static/js/salary.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="../static/img/logo.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="Dashboard.html">Dashboard</a></li>
                <li><a href="Department.html">Department</a></li>
                <li><a href="Salary.html">Salary</a></li>
            </ul>
        </nav>
        <div class="user-avatar">
            <img src="../static/img/avt.jpg" alt="User Avatar">
        </div>
    </div>
    <div class="container-wrapper">
        <!-- Container chính -->
        <div class="container">
            <!-- Thanh tìm kiếm -->
            <div class="search-box">
                <input type="text" id="search" placeholder="Search employee name">
                <button class="btn-search">Search</button>
                <select id="filter-status" class="btn-filter">
                    <option value="all">All</option>
                    <option value="received">Received</option>
                    <option value="not-received">Not Received</option>
                </select>
            </div>
    
            <!-- Hàng chứa các phần Name, Department, Summary Hour, Salary -->
            <div class="info-row header-row">
                <div class="info-item">Name</div>
                <div class="info-item">Department</div>
                <div class="info-item">Summary Hour</div>
                <div class="info-item">Salary</div>
            </div>
    
            
        </div>
    
        <!-- Container mới hiển thị mức lương chung trên 1 giờ -->
        <div class="container hourly-rate-container">
            <h3>Hourly Rate</h3>
            <p class="hourly-rate-value">
                Average Hourly Rate: <span id="average-hourly-rate" data-value="20000">20.000 ₫</span>
            </p>
            <button id="change-hourly-rate" class="btn-change">Change</button>
        </div>
    </div>
</body>
</html>