<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - KEVSCAN</title>
    <link rel="stylesheet" href="../static/css/userdashboard.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="../static/js/header.js" defer></script>
    <script src="../static/js/userdashboard.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="../static/img/logokevscan.svg" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="UserDashboard.html">Dashboard</a></li>
                
            </ul>
        </nav>
        <div class="user-avatar">
            <img src="../static/img/avt.jpg" alt="User Avatar">
            <div class="user-menu" id="user-menu">
                <ul>
                    <li id="logout">Log out</li>
                </ul>
            </div>
        </div>
    </div>
     </div>
    <!-- <button id="show-profile-btn" style="margin: 32px auto; display: block;">Your Account</button> -->

<div id="profile-dialog-overlay" class="dialog-overlay" style="display:none;">
  <div class="user-info dialog">
      <span class="dialog-close" id="close-profile-dialog">&times;</span>
      <h2>Profile</h2>
      <div id="profile-content"></div>
  </div>
</div>
</body>
</html>